server {
    access_log  off;

    listen       ${NGINX_PORT};
    root         /var/www/html;
    server_name  domain1.com www.domain1.com;

    location / {
        try_files $uri $uri/ $uri.html /index.html;
    }

    location = /api {
      return 302 /api/;
    }

    location /api/ {
        client_max_body_size 2M;
        proxy_pass http://nest:3000/;
    }
}